{% extends "home.html" %}
{% block content %}

<h1>Exam level 1</h1>
<h2>Aptitude Level(20 questions):</h2>
<a href="/level1" title="Start test">Start Aptitude Test</a>
<br><br>
<h1>Exam level 2</h1>
<h2>Technical Skill Test:</h2>
<a href="/templates/testfiles/aptitude1.html" title="Start test" >Start Tech Test</a>
<br><br>
<h1>Exam level3 </h1>
<h2>Behavioral / HR Level</h2>
<button href="/templates/testfiles/aptitude1.html" title="Start test" disabled>Start Tech Test</button>
{% endblock %}
